name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          yarn install
      - run: |
          yarn all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          slack_webhook: ${{secrets.SLACK_WEBHOOK}}
          github_token: ${{secrets.GH_PAT_TOKEN}}
          commit: '25e6c46a48a3052c27b8f35e2e3cd513193ce9a8'
          service_status_url: https://next.staging.threads.team/api/status
          repo: ThreadsStyling/web-app-next-template
          slack_map_repo: maael/github-slack-mapping
          channel: UCATYBYG1
          environment: staging
          dry_run: true
  local:
    runs-on: ubuntu-latest
    steps:
      - name: ACT Checkout
        uses: actions/checkout@v3
        if: ${{env.ACT}}
        with:
          path: ./slack-deploy-message-action
      - uses: ./
        if: ${{env.ACT}}
        with:
          slack_webhook: ${{env.SLACK_WEBHOOK}}
          github_token: ${{env.GITHUB_PAT_TOKEN}}
          commit: '25e6c46a48a3052c27b8f35e2e3cd513193ce9a8'
          service_status_url: https://next.staging.threads.team/api/status
          repo: ThreadsStyling/web-app-next-template
          slack_map_repo: maael/github-slack-mapping
          channels: UCATYBYG1
          failure_channels: UCATYBYG1
          environment: staging
      - uses: ./
        if: ${{env.ACT}}
        with:
          slack_webhook: ${{env.SLACK_WEBHOOK}}
          github_token: ${{env.GITHUB_PAT_TOKEN}}
          commit: '25e6c46a48a3052c27b8f35e2e3cd513193ce9a8'
          service_status_url: https://next.staging.threads.team/api/status
          repo: ThreadsStyling/web-app-next-template
          slack_map_repo: maael/github-slack-mapping
          channels: UCATYBYG1
          failure_channels: UCATYBYG1
          environment: staging
          status: ${{job.status}}
